{
    frankenphp {
        worker {
            file "public/frankenphp-worker.php"
            watch

        }
    }
    pogo {
        pool default {
            worker public/pogo-worker.php
            num_threads 4
            max_wait 30s
        }

        pool external_api {
            worker public/pogo-worker.php
            num_threads 8
            max_wait 10s
        }
    }
    order pogo_websocket before php_server
    admin off
    debug
    pogo_scheduler {
        command php artisan schedule:run
        dir /var/www/html
        timeout 2m
    }
    pogo_queue {
        worker public/queue-worker.php
        name m#Queue
        size 10000       # Max jobs in memory. If full, dispatch throws QueueFullException.
        num_threads 32   # Number of concurrent workers (defaults to CPU count).
    }
}

http://pogo.test {
    log {
        level INFO
        output stdout
    }

    route /app/* {
        pogo_websocket {
            app_id          pogo-app
            auth_path       /pogo/auth
            auth_script     public/websocket-worker.php
            webhook_secret  super-secret-key
            
            handshake_rate  100         # New connection attempts per second (Default: 100)
            handshake_burst 50          # Burst allowance (Default: 50)
            max_connections 10000       # Max concurrent clients
            max_auth_body   16384       # Max PHP Auth response size (bytes)
            max_concurrent_auth 100     # Max concurrent PHP Auth requests (DoS Protection)
            
            num_workers     2           # Number of PHP workers dedicated to Auth
            num_shards      8           # Internal sharding (Default: 2 * CPU Cores)
            
            ping_period     54s         # Server Ping interval
            pong_wait       60s         # Client Pong timeout
            write_wait      10s         # Socket write timeout
            app_secret      super-secret-key
            
            # redis_host      localhost:6379
        }
    }

    route {
        root * "public"
        encode zstd br gzip

        php_server {
            index frankenphp-worker.php
            try_files {path} frankenphp-worker.php
            resolve_root_symlink
        }
    }
}
